
body{
    font-family:papyrus;
    text-align: center;
    background:linear-gradient(90deg,rgb(221, 72, 27),#e3e5e5) ;
    color: rgb(176, 15, 15);
    margin:0;
    padding: 20px;
}

h1{
    margin-bottom:20px;
}
#palabra {
    font-size: 2em;
    letter-spacing: 8px;
    margin: 20px 0;
}

#mensaje {
    font-size: 1.2em;
    margin: 10px 0;
}

#teclado button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 1em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#teclado button:disabled {
    background: #dd5252;
    cursor: not-allowed;
    color: #aaa;
}

#reiniciar {
    margin-top: 20px;
    padding: 10px 10px;
    background: #bb0606;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 1em;
    color: rgb(214, 207, 207);
}